header{
    background-color: gray;
    height: 50px;
   

}

main{
    background-color: gray;
    padding: 10px;
    margin-top: 10px;
}

section{
 background-color: lightskyblue;
 height: 100px;
 margin-bottom: 10px;
}

#second{
    background-color: lightskyblue;
    height: 60px;
    margin-bottom: 10px;
    position: sticky;
    top: 50px;
    
}

article{
    background-color: plum;
    height: 60px;
    margin-bottom: 20px;
}

footer{
    background-color: #333;
    height: 50px;
    margin-top: 10px;
    bottom: 0;
    width: 100%;
    position: fixed;
}